body {
    font-family: 'Itim', cursive;
    font-family: 'Quicksand', sans-serif;
}


.Register {
    display: grid;
    width: 50%;
    margin: 0 auto;
}

.Register_title {
    text-align: center;
    font-size: 40px;
    margin: 50px 0;
}

.Register_label {
    margin: 5px 0 10px 0;
    font-size: 20px;
}

.Register_input {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.83);
    color: white;
    border-radius: 20px;
    height: 40px;
    padding: 0 15px;
}

.Register_btn {
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 30%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin: 100px auto 0 auto;
}


@media (min-width: 481px) and (max-width: 768px) {

    .Register {
        width: 80%;
    }

    .Register_btn {
        width: 40%;
        font-size: 15px;
        margin: 80px auto 0 auto;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .Register {
        width: 90%;
    }

    .Register_btn {
        width: 50%;
        font-size: 15px;
        margin: 80px auto 0 auto;
    }
}