body {
    font-family: 'Itim', cursive;
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.Logo_container {
    width: 341px;
    margin: 0 auto;
}

.Topics {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
    margin: 50px 0 50px 0;
}

.Topic {
    position: relative;
    width: 50%;
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin: 0 auto;
    transition: 0.5s all;
}

.Topic:hover {
    transform: scale(1.05);
}

.Topic_close {
    position: absolute;
    right: 2%;
    top: 10%;
    background-color: unset;
    border: none;
    cursor: pointer;
    z-index: 9999;
}


.Topic_close_img {
    cursor: pointer;
}

.Topic_close_img:hover {
    transform: scale(1.2);
}

.Topic_theme {
    width: 500px;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}

.Topic_hr {
    width: 50%;
    margin: 10px auto 15px auto;
}

.Topic_content {
    text-align: center;
    font-size: 17px;
    padding: 0 20px 0 20px;
    margin: 0 0 15px 0;
}

.Topic_create {
    display: grid;
    background-color: black;
    width: 50%;
    margin: 0 auto;
    padding: 15px;
    color: white;
    border-radius: 20px;
}

.Topic_input {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
    background-color: unset;
    font-size: 20px;
    color: white;
    padding: 15px;
}

.Topic_input_descr {
    width: calc(100% - 4%);
    height: 100px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 20px;
    background-color: unset;
    font-size: 20px;
    color: white;
    padding: 2%;
    text-align: center;
    word-wrap: break-word;
}

.Topic_btn {
    width: 30%;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    margin: 20px auto 0 auto;

}

.Topic_choose {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    opacity: 0;
}

@media (min-width: 1025px) and (max-width: 1200px) {

    .container {
        width: 90%;
    }

    .Topic {
        width: 90%;
        padding: 10px;
    }

    .Topic_create {
        width: 90%;
        padding: 10px;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {

    .Topic_close {
        right: 2%;
        top: 6%;
    }

    .Topic_theme {
        width: 100%;
    }

}

@media (min-width: 481px) and (max-width: 768px) {

    .Topic_close {
        top: 4%;
        right: 4%;
    }

    .Topic_theme {
        width: 100%;
    }

    .Topic_input {
        font-size: 8px;
        padding: 10px;
    }

    .Topic_input_descr {
        font-size: 12px;
    }

    .Topic_btn {
        width: 60%;
        font-size: 15px;
    }


}

@media (min-width: 320px) and (max-width: 480px) {

    .Logo {
        width: 150px;
    }

    .Logo_container {
        width: 150px;
        margin: 0 auto;
    }

    .container {
        width: 90%;
    }

    .Topic {
        width: 90%;
        padding: 10px;
    }

    .Topic_close {
        right: 3%;
        top: 6%;
    }

    .Topic_theme {
        font-size: 25px;
        width: 100%;
    }

    .Topic_content {
        font-size: 14px;
    }

    .Topic_create {
        width: 90%;
        padding: 10px;
    }

    .Topic_input {
        font-size: 8px;
        padding: 10px;
    }

    .Topic_input_descr {
        font-size: 12px;
    }

    .Topic_btn {
        width: 60%;
        font-size: 15px;
    }

}