body {
    font-family: 'Itim', cursive;
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.Logo_container {
    width: 341px;
    margin: 0 auto;
}

.Topic {
    background-color: black;
    color: white;
    width: 80%;
    margin: 0 auto;
    padding: 15px 15px 40px 15px;
    border-radius: 20px;
}

.Topic_name {
    text-align: center;
    font-size: 50px;
    margin: 0;
}

.Topic_hr {
    width: 80%;
    margin: 10px auto 30px auto;
}

.Topic_feedback {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    width: calc(90% - 4%);
    margin: 15px auto;
    padding: 2%;
    border-radius: 20px;
}

.Topic_feedback_username {
    position: absolute;
    top: -10%;
    left: 3%;
}

.Topic_feedback_data {
    position: absolute;
    top: -10%;
    right: 3%;

}

.Topic_create_feedback {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    width: calc(90% - 4%);
    margin: 50px auto 0 auto;
    padding: 2%;
    border-radius: 20px;
}

.Topic_feedback_comment {
    margin-top: 25px;
}


.Topic_create_username {
    position: absolute;
    top: -5%;
    left: 3%;
}

.Topic_create_data {
    position: absolute;
    top: -5%;
    right: 3%;
}

.Topic_input {
    background-color: unset;
    border: 1px solid black;
    color: black;
    border-radius: 20px;
    width: calc(100% - 4%);
    height: 70px;
    padding: 2%;
    margin: 30px 0 0 0;
    text-align: center;
    font-size: 20px;
}

.Topic_btn_container {
    width: 25%;
    height: 50px;
    margin: 20px auto 0 auto;
}

.Topic_btn {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

@media (min-width: 1025px) and (max-width: 1200px) {

    .container {
        width: 90%;
    }

}

@media (min-width: 320px) and (max-width: 480px) {

    .container {
        width: 90%;
    }
}


@media (min-width: 320px) and (max-width: 480px) {

    .Logo {
        width: 150px;
    }

    .Logo_container {
        width: 150px;
        margin: 0 auto;
    }

    .Topic_feedback {
        padding-top: 20px;
    }

    .Topic_feedback_username {
        top: -5%;
        left: 5%;
    }

    .Topic_feedback_data {
        top: -5%;
        right: 5%;
    }

    .Topic_feedback_comment {
        font-size: 15px;
    }

    .Topic_create_username {
        left: 5%;
    }

    .Topic_create_data {
        right: 5%;
    }

    .Topic_btn_container {
        width: 55%;
    }

    .Topic_input {
        font-size: 15px;
    }

    .Topic_btn {
        font-size: 12px;
    }

}